@model List<IdentityUser>

<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="container">
    <form asp-action="search">
        <input type="text" class="form-group" name="query" />
        <input type="submit" class="btn btn-info" value="Szukaj" />
    </form>

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            @foreach (var user in Model)
            {
            <h4 class="friend">
                <span name="@user.Id" id="">&#9679; @user.UserName</span>
            
                
            
            </h4>
            }
        </div>
        <div class="col-lg-8">
            
        </div>

    </div>
</div>




<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User...............<input type="text" id="userInput" />
            <br />
            Message............<input type="text" id="messageInput" />
            <input type="submit" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messageList"></ul>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/dist/browser/signalr.js"></script>
<script src="~/js/dist/browser/chat.js"></script>
